:root {
    --periwinkle: #BEC9E6;
    --sage: #CBCC9D;
    --moss-green: #869677;
    --davys-gray: #555754;
}

body {
    width: 100%;
    max-width: 100vw;
    margin: 0;
    overflow-x: hidden;
    box-sizing: border-box;
    background: linear-gradient(white,#BEC9E6, #869677, white);
    font-family: 'Josefin Sans', sans-serif;
}

/* NAV STYLING */
.portfolio-logo {
    width: 450px;
}

nav {
    background-color: var(--periwinkle);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.navbar-links {
    list-style:none;
    width: 35%;
    margin-right: 5%;
    display: flex;
    justify-content: space-around;
}

/* FOOTER STYLING */
footer {
    background-color: var(--periwinkle);
    /* border: solid 2px black; */
    padding: 1% 0 3% 1%;
    text-align: center;
}

.footer-link {
   font-size: 2rem;
   margin: 0 0.5rem;
}

/* LINK STYLING */
nav a,
footer a {
    color: black;
}

nav a:link,
footer a:link,
nav a:visited,
footer a:visited {
    text-decoration: none;
}

nav a:hover {
    background-color: var(--moss-green);
}

nav a:active {
    color: var(--periwinkle);
    background-color: var(--davys-gray);
}

/* CONTACT STYLING */
.connect-form>div {
    display: flex;
    flex-flow: column wrap;
    margin-bottom: 5rem;
}

fieldset {
    margin-bottom: 2rem;
}

.connect-container legend {
    text-align: center;
}

.contact-form h1 {
    text-align: center;
}

.contact-submit-button {
    margin-top: 2rem;
    padding: 0.5rem 1.5rem;
    background-color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: medium;
    cursor: pointer;
}
